 /* primary color : #341939
 secondary color : #C52EE1 */

#footer{
    background-color: #341939;
position: relative;
overflow: hidden;
}
#footer::before{
    content: "";
  display: block;
  position: absolute;
  width: 400px; 
  height: 400px;
  bottom: 0;
  left: 0;
  background: radial-gradient(
    circle at bottom left, 
    rgba(198, 46, 225, 0.774), 
    rgba(0, 0, 0, 0) 60%, 
    rgba(0, 0, 0, 0) 60%
  );
  /* background: radial-gradient(
    circle at top left, 
    rgba(197, 46, 225, 1), 
    rgba(0, 0, 0, 0.8) 60%, 
    rgba(0, 0, 0, 1) 100%
  ); */
  border-radius: 10px; 
  opacity: 0.7;
  z-index: 1;
}


